/*------------------------------Contact us body-----------------------------*/

.sections {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  margin: 100px 50px 100px 50px;
}

/*Team*/
.grid {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  column-gap: 50px;
  row-gap: 50px;
  padding: 0px 25px 0px 25px;
}

.contactTeam {
  font-size: 32px;
  text-transform: none;
}

.profile {
  width: auto;
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;
}

.team img {
  height: 50px;
  width: 50px;
}

.team a:hover {
  text-decoration: underline;
}

/*End Team*/

/*Form*/
.form {
  text-align: center;

  background-color: #FFF7EF;

  border-color: #FEB14B;
  border-style: solid;
  border-width: 20px 0px 20px 0px;

  padding: 100px 50px 100px 50px;

  overflow: hidden;
  overflow-wrap: break-word;
}

.form h2 {
  color: #313638;
  font-size: 32px;
  text-transform: none;

  margin: 0px;
  padding-bottom: 5px;
}

.form p {
  font-size: 16px;
}

.questions {
  text-align: left;
}

.formInput,
.form textarea {
  padding: 10px;
  padding-left: 10px;

  border-style: none;

  width: 100%;
  margin-bottom: 20px;
  margin-top: -5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.submitArea {
  display: flex;
  justify-content: center;
  margin: 10px 0 10px 0;
}

.submitButton {
  text-align: center;
  width: 120px;

  background-color: #F48B01;

  border-color: #D18C2F;
  border-style: solid;
  border-width: 1px;
  border-radius: 25px;

  color: #ffffff;
  font-size: 12pt;
  font-weight: 700;
  text-transform: none;

  transition: 0.3s;
}

.submitButton:hover {
  background-color: var(--dark-red);
}

.form input.button:hover {
  background-color: var(--yellow);
  color: var(--white);
}

/*End Form*/

/*--- Dark mode ---*/
@media (prefers-color-scheme: dark) {
  .formInput {
    background-color: #323235;
    border-color: white;
    color: white;
  }

  .formLeft textarea {
    border-color: white;
    color: white;
  }

  .formLeft {
    border-color: white;
  }

  .team div.profile {
    color: white;
  }
}

/*-------------------------------Join us: different screen sizes ------------------------------*/
@media only screen and (max-width: 910px) {
  .sections {
    display: inline;
  }

  .grid {
    column-gap: 25px;
    row-gap: 50px
  }

  .team {
    margin: 50px 0px 100px 0px;
  }
}

@media only screen and (max-width: 300px) {
  .form {
    padding: 50px 25px 50px 25px;
  }
}